<div class="container">
    <div class="jumbotron mt-5">
      <div class="col-sm-8 mx-auto">
        <h1 class="text-center">PROFILE</h1>
      </div>
      <table class="table col-md-6 mx-auto">
        <tr>
          <td>Topic</td>
          <td>{{ andetails?.topic }}</td>
        </tr>
        <tr>
          <td>Category</td>
          <td>{{ andetails?.category }}</td>
        </tr>
        <tr>
          <td>Author</td>
          <td>{{ andetails?.author }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ andetails?.email }}</td>
        </tr>
      </table>
    </div>
  </div>
